# Environment variables - never commit your API keys!
backend/.env
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Node
node_modules/
dist/

# models
backend/models/all-MiniLM-L6-v2/model.safetensors
backend/models/flan-t5-us-to-ac-v1/model.safetensors

